<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupware.user.mapper.UserMapper">

	<insert id="register">
		INSERT INTO tbl_user(
		USERID
		,USERPW
		,USERNAME
		,USERJOINDATE)
		values(
		#{userId,jdbcType=VARCHAR}
		,#{userPw,jdbcType=VARCHAR}
		,#{userName,jdbcType=VARCHAR}
		,SYSDATE
		)
	</insert>

	<select resultType="com.groupware.user.domain.UserVO" id="login">
	select USERID, USERPW
	from
	tbl_user where USERID =
	#{userId,jdbcType=VARCHAR}
	and
	USERPW = #{userPw,jdbcType=VARCHAR}
	</select>
</mapper>